<%= render 'shared/navbar_landing' %>

<div class="page-container">

<%= simple_form_for @space do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

</div>
