<%= render partial: 'shared/navbar', locals: { space: @space, user: @user } %>

<% @title="Muse VR - Create new gallery page" %>

<div class="container-fluid p-0" style="margin:none;">
  <div class="row w-100 h-100">
    <div class="col-md-12 col-lg-6 p-0">
      <div style="width: 100%; height:100%;">
        <div id="carouselExampleControls" class="carousel slide" data-interval="false" style="width: 100%; height:100%;">
          <div class="carousel-inner" style="width: 100%; height:100%;">
            <%= simple_form_for @space, html: {class:"w-100 h-100"} do |f| %>
              <%= f.collection_radio_buttons(
                  :modelURL,
                  [ ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/abandoned_warehouse_-_interior_scene_comp/scene.gltf', 'abandoned_warehouse.jpeg' ],
                    ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/bagan_-_khayiminga_temple_interior/scene.gltf', 'bagan_temple.jpeg'],
                    ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/gd55_el_a1_erikhernandez/scene.gltf', 'space_station.jpeg'],
                    ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_for_product_showcase_2019_outdated/scene.gltf', 'white_gallery.jpeg'],
                    ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_for_product_showcase_2019/scene.gltf', 'office_gallery.jpeg'],
                    ['https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_vintage_for_product_showcase_2019/scene.gltf', 'vintage_gallery.jpeg']
                  ],
                  :first, :last,  :item_wrapper_class => 'carousel-item w-100 h-100') do |space| %>

              <%= space.label(:class => "h-100 w-100"){(render partial: 'shared/space_modal_card', locals: { image: "spaces/#{space.text}", space: space }) } %>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

          <div id="carouselTextHolder">
          </div>
          <h2 id="carouselText">Click an image above to pick your gallery</h2>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 p-0">
      <!-- <div> -->
        <div class="d-flex flex-column" style="height:100%; width: 80%; margin: auto;">

          <div style="height:35%;">
            <div class="h-100 d-flex flex-column justify-content-end">
              <% if @space.errors.any? %>
                <div id="error_explanation">
                  <ul style="list-style: none; color: red; padding-left: 0;">
                    <li style="padding-bottom: 24px;">
                      <% error = @space.errors.full_messages.last.split(" ")%>
                      <% error.shift %>
                      <%= error.join(" ") %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>

          <div style="height:25%; width: 100%;">
           <!--  <ul style="list-style-type: none; padding: 0px;">
              <li class="landing-list"><%= link_to 'About us', '#' %></li>
              <li class="landing-list"><%= link_to 'View Galleries', spaces_path %></li>
              <li class="landing-list"><%= link_to 'View Artists', users_path %></li>
              <li class="landing-list"><%= link_to 'Make your own', new_space_path %></li>
            </ul> -->
              <%= f.input :name, input_html: { class: "transparent simpleFormInput", style: "border: 0; border-bottom: 1px dotted #333333;" }, label_html: {style: "color: $text; font-weight: 600; font-size: 32px;" }, label: "Name your gallery" %>
              <%= f.input :description, input_html: { class: "transparent simpleFormInput", style: "border: 0; border-bottom: 1px dotted #333333;" }, label_html: {style: "color: $text; font-weight: 600; font-size: 32px;" }, label: "Gallery description" %>
              <%= f.file_field :photo, label_html: {style: "color: $text; font-weight: 600; font-size: 24px;" }, label: "Upload a cover photo for your gallery" %>
              <!-- This submit will actually store the above values into a local variable, rather than create the model immediately - thus allowing user to create gallery first, and then create model upon saving their gallery -->
              <%= f.submit "Add art to your gallery>>", class: "transparent submitButton", style: "border:0; float: right; margin-top: 24px; margin-bottom: 48px;" %>
            <% end %>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
