<%= render partial: 'shared/navbar', locals: { space: @space, user: @user } %>

<% @title="Musei - Gallery assets page" %>

<% modelViewerActive = false %>

<div class="page-container">

  <div class="d-flex m-auto w-100 justify-content-center gallery-show-height">
         <div class="d-flex justify-content-center align-items-center h-100">
        <%= (render partial: 'shared/space_show_cover_photo', locals: { space: @space }) %>
      </div>

      <div class="gallery-show-header-margin">
        <div class="d-flex flex-column align-items-left justify-content-between gallery-show-header-padding" style="width:100%;height:100%;border-left:1px solid grey;">

          <div class="d-flex">
            <h1 class="gallery-show-title m-0"><%= @space.name %></h1>

            <div class="h-100 d-flex flex-column justify-content-end pl-3 edit-gallery-padding">
              <button type="button" class="edit-gallery-info-button transparent " data-toggle="modal" data-target="#editSpaceModal" data-backdrop="true">EDIT</button>
            </div>
          </div>

          <div >
            <h2 class="gallery-show-bio"><%= @space.description %></h2>
          </div>

           <div>
            <%= link_to "LAUNCH ROOM", space_vr_path(@space), class:"launch-room-button", data: {turbolinks: false} %>
          </div>

        </div>
      </div>
  </div>


  <div class="container-fluid show-page-container">
    <div class="w-100 d-flex justify-content-center">
      <span style="border-top: 1px solid grey; width: 80%;"></span>
    </div>

    <div class="container" style="margin-top: 32px;">
      <button type="button" class="transparent addArtButton" style="border:0;" data-toggle="modal" data-target="#addArtworkModal">+ Add artwork +</button>
    </div>

    <div class="row">
      <% @space.artworks.each do |artwork| %>
        <% modelViewerActive = true if artwork.artwork_type == "3D Model" %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex justify-content-center bottom-buffer">
          <%= (render partial: 'shared/space_show_artwork_card', locals: { artwork: artwork }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="addArtworkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255,255,255,0.93); border-radius: 8px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload an artwork</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-4">
        <%= render "add_artwork" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editSpaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255,255,255,0.93); border-radius: 8px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit gallery details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-4">
        <%= render "edit_space" %>
      </div>
    </div>
  </div>
</div>


<!-- Some scripts which handle showing 3d asset on page - will be good to move later when showing 3d assets on other pages - such as within
a JS file that loads scripts dependent on page - akin to how you currently have your index.js set up -->
<% if modelViewerActive %>
  <!-- Loads model-viewer for modern browsers -->
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
  <!-- Loads model-viewer for older browsers -->
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
<% end %>
