<%= render 'shared/navbar_landing' %>


 <div class="modal fade" id="artworkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: rgba(255,255,255,0.93); border-radius: 8px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload an artwork</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-4">
          <%= render "add_artwork" %>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>


<div class="page-container">



  <!-- <button>Launch Room</button> -->

<div class="spaces-index-heading">
    <h1><%= @space.name %></h1>
  </div>



  <div class="spaces-index-subtitle">
    <h2><%= @space.description %></h2>
  </div>


  <div class="d-flex justify-content-around align-items-center" style="font-size: 20px; height: 50px; width: 100%; margin-top: 16px;">
    <%= link_to "Launch room", space_vr_path(@space), class:"launchRoomButton", data: {turbolinks: false} %></li>
  </div>



  <!-- Modal -->

  <!-- modal pop over for adding artwork -->

<div  class="container show-page-container" style="width: 1100px">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex justify-content-center bottom-buffer">
        <%= (render partial: 'shared/space_show_add_artwork_card', locals: { space: @space }) %>
      </div>
      <% @space.artworks.each do |artwork| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex justify-content-center bottom-buffer">
          <%= (render partial: 'shared/space_show_card', locals: { artwork: artwork }) %>
        </div>
      <% end %>
    </div>
  </div>


</div>
