
<%= render 'shared/navbar_vr' %>

<div id="key-prompts">
  <button class="close" onclick="document.getElementById('key-prompts').style.display='none'" >close</button>
  <p>Use WASD keys or ARROW keys to move around!</p><br>
  <%= image_tag "wasd2.png", class: 'wasd'%>
  <p>Use your mouse to look around!</p>
</div>

<div id="embeddedScene">

  <a-scene id="aframeScene" background="color: #FAFAFA" embedded>
    <a-assets>
        <img id="outerspace" src="https://res.cloudinary.com/dt47helyp/image/upload/v1583494818/milkyway_zbfpih.jpg">
        <img id="city" src="https://res.cloudinary.com/dt47helyp/image/upload/v1583803118/cityscape_qhvlo5.jpg">
        <img id="info" src="<%= image_path "info-circle-solid.svg" %>">
        <a-asset-item id="scene" src="<%= @space.modelURL %>">
        <a-asset-item id="frame" src="https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/fancy_picture_frame/scene.gltf">

        <% @space.artworks.each_with_index do |artwork, index| %>
          <%= cl_image_tag artwork.photo.key, id: "entity#{index+1}painting", :width=>1000, :crop=>"fill", alt: "#{artwork.name}" %>
        <% end %>
    </a-assets>


    <% if @space.modelURL == 'https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_vintage_for_product_showcase_2019/scene.gltf' %>
      <a-gltf-model src="#scene" position="1 0 0" scale="0.02 0.02 0.02"></a-gltf-model>
      <a-entity light="type: ambient; color: #CCC; intensity:1.6" position="4 12 4"></a-entity>
      <a-sky src="#city"></a-sky>
    <% elsif @space.modelURL == 'https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_for_product_showcase_2019/scene.gltf' %>
      <a-gltf-model src="#scene" position="0 5 0" scale="0.04 0.04 0.04"></a-gltf-model>
      <a-entity light="type: ambient; color: #CCC; intensity: 2.7" position="4 6 4"></a-entity>
      <a-sky src="#outerspace"></a-sky>
    <% elsif @space.modelURL == 'https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/vr_gallery_for_product_showcase_2019_outdated/scene.gltf' %>
      <a-gltf-model src="#scene" position="1 0 0" scale="0.01 0.01 0.01"></a-gltf-model>
      <a-entity light="type: ambient; color: #CCC; intensity: 4.5" position="1 1 1"></a-entity>
    <% elsif @space.modelURL == 'https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/gd55_el_a1_erikhernandez/scene.gltf' %>
      <a-gltf-model src="#scene" position="0 0 0"></a-gltf-model>
      <a-entity light="type:point; intensity:7;" position="0.2 0.2 0.2"></a-entity>
      <a-sky src="#outerspace"></a-sky>
    <% elsif @space.modelURL == 'https://raw.githubusercontent.com/boyanlevchev/threedeemodels/master/models/abandoned_warehouse_-_interior_scene_comp/scene.gltf' %>
      <a-gltf-model src="#scene" position="-6 5.7 0" scale="10 10 10"></a-gltf-model>
      <a-entity light="type: ambient; color: #CCC; intensity: 4.5" position="1 1 1"></a-entity>
      <a-sky src="#city"></a-sky>
      <a-entity setCamera id='cameraWrapper' position="0 0 0">
        <a-camera setCamera id='camera' position="0 1 0" look-controls></a-camera>
      </a-entity>
    <% end %>



    <!-- Add all objects below -->

      <% @space.artworks.each_with_index do |artwork, id| %>
        <% if @space.user == current_user%>
          <a-entity id="entity<%=id+1%>" geometry="primitive: sphere; radius: 1.15;" material="transparent: true; opacity: 0;" position="-3.8 2 1" rotation="0 0 0" selected updatedimensions scale-control toggle-side-panel dragndrop infoopen>
        <% else %>
          <a-entity id="entity<%=id+1%>" geometry="primitive: sphere; radius: 1.15;" material="transparent: true; opacity: 0;" position="-3.8 2 1" rotation="0 0 0" selected updatedimensions infoopen>
        <% end %>
          <a-entity id="entity<%=id+1%>inner" rotation-control rotation="0 90 0">
            <a-image src="#entity<%=id+1%>painting" id="entity<%=id+1%>innerimage" material="shader:flat" rotation="0 0 0" color="#FFFFFF" side="double" width=""></a-image>
            <a-gltf-model src="#frame" id="entity<%=id+1%>innerimageframe" scale="1 1 1" material="shader:flat" rotation="0 -90 0"></a-gltf-model>
          </a-entity>
          <% if @space.user != current_user %>
            <a-entity id="entity<%=id+1%>innerinforotator" visible="true" geometry="primitive: sphere; radius: 1;" material="transparent: true; opacity: 0;" position="0 0 0" rotation="0 0 0">
              <a-text id="entity<%=id+1%>info" visible="false" x-offset="0.02" y-offset="0.02" font="kelsonsans" color="#333333" align="left" anchor="center" baseline="bottom" width="1" font="roboto"  value="Title: <%= @space.artworks[id].name %>\n\n Description: \n <%= @space.artworks[id-1].description %>" position="0 0 1.25" rotation="0 90 0" geometry="primitive:plane; height:0.42; width: 1" material="color: #FCE2DB; opacity:0.7; side: double" side="double"></a-text>
            </a-entity>
          <% end %>
        </a-entity>
      <% end %>

    <%# if @space.user == current_user %>
    <div id="#side-panel" class="sidePanel hidden">
      <h2>Howdy</h2>

      <label for="size">Size</label>
      <input type="range" id="size" name="size"
        min="0" max="10" value="1" step="0.1">

      <label for="rotation-x">Rotation x</label>
      <input type="range" id="rx" name="rotation-x"
        min="0" max="360" value="0" step="1">

      <label for="rotation-y">Rotation y</label>
      <input type="range" id="ry" name="rotation-y"
        min="0" max="360" value="0" step="1">

      <label for="rotation-z">Rotation z</label>
      <input type="range" id="rz" name="rotation-z"
        min="0" max="360" value="0" step="1">
    </div>
  <%# end %>
  </a-scene>
</div>

