<h1>Profile</h1>
<%= @user.username %>
<%= cl_image_tag @user.photo.key, class: "avatar-large" %>
<%= @user.bio %>
<% @spaces.each do |space| %>
  <%= space.name %>
  <%= space.description %>
  <!-- space.photo -->
<% end %>
