<%= render partial: 'shared/navbar', locals: { space: @space, user: @user } %>

<% @title="Muse VR - Artist profile page" %>

<div class="page-container">
  <div class="d-flex justify-content-around" style="width:100%">
    <h1 class="user-page-header"><%= @user.username %></h1>
  </div>

  <div class="d-flex justify-content-around" style="width:100%">
    <h4 class="user-page-bio"><%= @user.bio %></h4>
  </div>

  <div class="d-flex justify-content-around">
    <%= link_to "contact #{@user.username}", '#', class: "user-contact" %>
  </div>

  <!--
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
  <% else  %>
    <%= image_tag "avatar_placeholder", class: "avatar-large" %>
  <% end %> -->


  <div  class="container show-page-container">
    <div class="row">
      <% @spaces.each do |space| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex justify-content-center bottom-buffer">
          <%= (render partial: 'shared/card', locals: { space: space }) %>
        </div>
      <% end %>
    </div>
  </div>

</div>

