<div class="navbar navbar-expand-xl navbar-light navbar-lewagon align-items-center transparent px-0 py-4">
  <%= link_to "/", class: "navbar-brand", style: "margin-left: 96px;" do %>
    <h1 class="logo">MUSE</h1>
  <% end %>



  <div class="mr-auto medium-width" id="navbar-search" class="artist-index-search" style="margin-left: 250px;">
    <form action="/spaces" method="get" class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-2">
      <input class="form-control form-control-sm mr-3 w-75 search-bar" style="border:0px; border-bottom: 1px solid #CCC9A1; border-radius: 0px; background-color: transparent;" type="text" placeholder="Search" name="search" aria-label="Search">
      <button type="submit" class="border-0" style="background-color: transparent;"><i class="fas fa-search" aria-hidden="true"></i></button>
    </form>
  </div>

  <div id="menu">
    <%= link_to 'Galleries', spaces_path, class: "menu-item #{'active' if params[:controller] == 'spaces'}" %>
    <%= link_to 'Artists', users_path, class: "menu-item #{'active' if params[:controller] == 'users'}"  %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 45px;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <i class="fas fa-bars fa-2x  dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right transparent border-0" style="text-align: right; margin-right: -24px;" aria-labelledby="navbarDropdown">
            <%= link_to "Home", spaces_path, class: "dropdown-item" %>
            <% if user_signed_in? %>
              <%= link_to "My spaces", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Create new space", new_space_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <!-- <button type="button" class="transparent addArtButton" style="border:0;" data-toggle="modal" data-target="#artworkModal"> -->
              <%= link_to "Login", "#", class: "dropdown-item", data: {toggle: "modal", target: "#loginModal", backdrop: false} %>

            <% end %>
          </div>
        </li>
    </ul>
  </div>
</div>


<div class="modal fade login-modal-backdrop" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: transparent; border: 0; margin-top: 120px;">
      <a type="button" class="login-close" data-dismiss="modal" aria-label="Close" style="border:none;text-align:right;">X</a>
      <div class="modal-body pt-3" style="">
        <%= render partial: "shared/login_modal" %>
      </div>
    </div>
  </div>
</div>

