<div class="artwork-card d-flex">
    <div class="artwork-card-art-panel">
      <% photo = "" %>
      <% if artwork.photo.attached? %>
        <% photo = artwork.photo %>
      <% elsif artwork.fast_photo.attached? %>
        <% photo = artwork.fast_photo %>
      <% end %>
      <% if artwork.artwork_type == "3D Model" %>
        <model-viewer src="<%= artwork.getArtworkURL %>" alt="Muse 3D model asset - id <%=artwork.id%>" auto-rotate camera-controls auto-rotate-delay="0" style="height: 100%; width: 100%;" ></model-viewer>
        <%#=  image_tag(photo.service_url, fetch_format: "png", width: "300px", background: "transparent", style: "height: 100%; width: 100%; object-fit: cover;") %>
      <% elsif artwork.artwork_type == "Image" %>

          <%= image_tag(artwork.getArtworkURL, width: "300px", style: "height: 100%; width: 100%; object-fit: cover;") %>

      <% elsif artwork.artwork_type == "Video" %>
        <div>
          <%= video_tag(artwork.getArtworkURL, width: "300px", controls: true, style: "height: 100%; width: 100%; object-fit: contain;") %>
        </div>
      <% elsif artwork.artwork_type == "Audio" %>
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

        <!-- WILL NEED TO ADD AN IMAGE OF THE AUDIO FILE'S SOUNDWAVE - SEE IF THERE IS A GEM FOR THIS?? -->
        <div style="height:500; position: relative;">
            <%#= image_tag(photo.service_url, width: "300px", height: "200px",flags: "waveform", resource_type: "video", color: "black", background: "transparent", controls: true, style: "width: 100%; margin-top: 50%; transform: translate(0, -50%);") %>
            <div style="height:500; position: absolute; top: 50%;">
              <%= video_tag(artwork.getArtworkURL, width: "300px", height: "50px", controls: true, style:"height: 100%; width: 100%; object-fit: contain;") %>
            </div>
        </div>



      <% end %>
    </div>
    <div class="artwork-card-info-panel d-flex flex-column justify-content-between">
      <div>
        <div>
          <h4 class="artwork-titles">NAME:</h4>
          <h4 class="artwork-info"><%=artwork.name%></h4><br>
        </div>
        <div>
          <h4 class="artwork-titles">DESCRIPTION:</h4>
          <h4 class="artwork-info"><%=artwork.description%></h4><br>
        </div>
        <div>
          <h4 class="artwork-titles">FILETYPE:</h4>
          <h4 class="artwork-info"><%=artwork.artwork_type%></h4><br>
        </div>
      </div>
      <div class="w-100">
        <button type="button" class="artwork-titles artwork-button transparent py-1 px-2" data-toggle="modal" data-target="#editArtwork<%=artwork.id%>Modal" data-backdrop="false">EDIT</button>
      </div>
    </div>
</div>

<div class="modal fade" style="backdrop-filter: blur(20px);z-index:6;" id="editArtwork<%=artwork.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="editArtwork<%=artwork.id%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255,255,255,0.93); border-radius: 8px;">
      <div class="modal-body pt-4">
        <div class="modal-header">
          <h5 class="modal-title" id="editArtwork<%=artwork.id%>ModalLabel">Edit artwork</h5>
          <button type="button" class="close" style="z-index:1;" data-dismiss="modal" data-target="#editArtwork<%=artwork.id%>Modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <%= (render partial: "edit_artwork", locals: { artwork: artwork }) %>
      </div>
    </div>
  </div>
</div>
