

<% @title="Musei - Art in Virtual Reality - Homepage" %>

<div class="d-flex" id="landing-flex-box">
  <div id="landing-panel-left">

    <div class="d-flex flex-column justify-content-end main-page-button-list">
      <div></div>

      <div>
        <ul style="list-style-type: none; padding: 0 0 8px 0; margin: 0;">
          <li class="landing-list"><%= link_to "About", about_path %></li>
          <li class="landing-list"><%= link_to 'View Galleries', spaces_path %></li>
          <li class="landing-list"><%= link_to 'View Artists', users_path %></li>
          <% if user_signed_in? %>
            <li class="landing-list"><%= link_to 'Make your own', new_space_path %></li>
          <% else %>
             <li class="landing-list"> <%= link_to "Sign up and make your own", "#", id: "signup-modal-trigger" , class: "", data: {toggle: "modal", target: "#loginModal", backdrop: false} %></li>
          <% end %>
        </ul>
      </div>

      <div class="main-page-logo">
        <div>
          <span id="biglogo">MUSEI</span>
          <!-- <span id="biglogovr">.io</span> -->
          <span id="biglogoart" class="ml-2">.io</span>
        </div>
      </div>

    </div>

  </div>

  <div id="landing-image-strip" style="background-image: url(<%= image_path('gallery.jpg') %>);">

  </div>

  <div id="landing-panel-right" style="position: relative;">
    <span id="featured-artist">Featured Artist: Jemima Jackson</span>

  </div>
</div>

